<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] %c - %m%n" />
    </Console>

    <Routing name="PerTestRouting">
      <Routes pattern="${ctx:logFileName}">
        <Route>
          <File name="TestFileAppender"
            fileName="target/logs/${ctx:logFileName}.log"
            append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%p] %c - %m%n" />
          </File>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <Root level="${sys:logLevel:-INFO}">
      <AppenderRef ref="Console" />
      <AppenderRef ref="PerTestRouting" />
    </Root>
  </Loggers>
</Configuration>
